@import "./common/styles/variables.css";

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--background);
  font-family: "IBM Plex Mono", monospace;
}
